{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    <h1>Beat #{{ beat.getId() }}</h1>
    <ul>
        <li>Author: {{ beat.user.username }}</li>
        <li>Title: {{ beat.getTitle() }}</li>
        <li>Beat length: {{ beat.getBeatLength() }}</li>

        <li>Category:
            <a href="{{ path('categoryDetail', {id: beat.category.id}) }}">
                {{ beat.getCategory().getName() }}
            </a>
        </li>

        <li>Genre:
            <a href="{{ path('genreDetail', {id: beat.genre.id}) }}">
                {{ beat.genre.name }}
            </a>
        </li>

        {% if beat.rating %}
            <li>Rating: {{ beat.getRating() }}</li>
        {% endif %}

        {% if beat.getDescription() %}
            <li>Description: {{ beat.getDescription() }}</li>
        {% endif %}
    </ul>

{% endblock body %}

{% block title %}Beat by {{ beat.user.username }}{% endblock %}