{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    {% if pagination %}
        {% for competition in pagination %}
            <div class="card sample" id="competition-{{ loop.index }}">
                <h5 class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="float-left">
                                <a href="{{ competition.sample.userLink }}" target="_blank">
                                    {{ competition.sample.userName }}
                                </a> -

                                <a href="{{ path('competition_detail', {id: competition.id}) }}">
                                    {{ competition.title }}
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-1 text-center">
                            <a href="{{ competition.sample.file }}" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-1 text-center">
                            <a href="javascript:">
                                <span class="fa fa-play js-btn-play" id="wave-player-{{ loop.index }}"></span>
                            </a>
                        </div>

                    </div>
                </h5>
                <div class="card-body">
                    <div id="waveform-{{ loop.index }}"></div>
                    <div class="float-right">
                        {{ competition.sample.length }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% if competition.sample.category %}
                        <li class="list-group-item">Category:
                            <a href="{{ path('categoryDetail', {id: competition.sample.category.id}) }}">
                                {{ competition.sample.category.name }}
                            </a>
                        </li>
                    {% endif %}

                    {% if competition.sample.genre %}
                        <li class="list-group-item">Genre:
                            <a href="{{ path('genreDetail', {id: competition.sample.genre.id}) }}">
                                {{ competition.sample.genre.name }}
                            </a>
                        </li>
                    {% endif %}
                    {% if competition.sample.description %}
                        <li class="list-group-item">Description: {{ competition.sample.description }}</li>
                    {% endif %}
                    <li class="list-group-item">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a type="button" href="#" class="btn btn-outline-success"
                               data-toggle="modal" data-target="#modal-submit-{{ loop.index }}">
                                Join competition
                            </a>
                        {% else %}
                            <a type="button" href="{{ path('app_register') }}" class="btn btn-outline-success">
                                Sign up to join
                            </a>
                        {% endif %}
                        <a type="button" href="{{ path('competition_detail', {id: competition.id}) }}" class="btn btn-outline-info">More</a>

                        <a href="{{ competition.loopermanLink }}" target="_blank" class="btn btn-link"
                           id="original-post-{{ loop.index }}">
                            Original post
                        </a>
                    </li>

                    <audio controls hidden class="audio">
                        <source src="{{ competition.sample.file }}">
                    </audio>
                </ul>
            </div>

            <!-- Modal -->
            <div id="modal-submit-{{ loop.index }}" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header align-items-center">
                            <h4 class="modal-title">Join competition</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form id="sample-modal-form-{{ loop.index }}" action="javascript:" class="competition-form"
                              method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="textTitle-{{ loop.index }}">Title</label>
                                    <input class="form-control" name="title" id="textTitle-{{ loop.index }}"
                                           type="text" required>
                                </div>

                                <div class="form-group">
                                    <label for="textDescription-{{ loop.index }}">Description</label>
                                    <textarea class="form-control" name="description"
                                              id="textDescription-{{ loop.index }}" rows="3" required></textarea>
                                </div>

                                <div class="form-group">
                                    <div class="custom-file form-control">
                                        <label class="custom-file-label" for="customFile">
                                            Your beat (*.mp3)
                                        </label>
                                        <input type="file" accept="audio/mpeg" name="file" class="custom-file-input"
                                               id="customFile-{{ loop.index }}" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-file form-control">
                                        <label class="custom-file-label" for="pictureFile">
                                            Beat cover
                                        </label>
                                        <input type="file" accept="image/*" name="picture" class="custom-file-input"
                                               id="pictureFile-{{ loop.index }}" required>
                                    </div>
                                </div>

                                <div class="alert alert-danger is-hidden" id="error-{{ loop.index }}" role="alert">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="submit" class="btn btn-outline-success col-lg-3">Submit</button>
                                <button type="button" class="btn btn-outline-danger d-none d-lg-block col-lg-2"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ knp_pagination_render(pagination) }}
    {% endif %}

{% endblock body %}

{% block title %}Competition list{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_competition') }}
{% endblock %}
