{% extends '@TwigTemplate/base.html.twig' %}

{% block body %}

    {% if competitions %}
        {% for competition in competitions %}
            <div class="card m-5">
                <h5 class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            {{ competition.title }}
                        </div>

                        <div class="col-lg-1 text-center">
                            <a href="javascript:">
                                <span class="fa fa-play js-btn-play" id="wave-player-{{ loop.index }}"></span>
                            </a>
                        </div>
                    </div>
                </h5>
                <div class="card-body">
                    <div id="waveform-{{ loop.index }}"></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Author:
                        <a href="{{ competition.userLink }}" target="_blank">
                            {{ competition.userName }}
                        </a>
                    </li>
                    <li class="list-group-item">Beat length: {{ competition.length }}</li>

                    {% if competition.category %}
                        <li class="list-group-item">Category:
                            <a href="#">
                                {{ competition.category.name }}
                            </a>
                        </li>
                    {% endif %}

                    {% if competition.genre %}
                        <li class="list-group-item">Genre:
                            <a href="#">
                                {{ competition.genre.name }}
                            </a>
                        </li>
                    {% endif %}
                    {% if competition.description %}
                        <li class="list-group-item">Description: {{ competition.description }}</li>
                    {% endif %}
                    <li class="list-group-item">
                        <a type="button" href="#" class="btn btn-outline-success">Принять участие</a>
                        <a type="button" href="#" class="btn btn-outline-info">Подробнее</a>

                        <a href="{{ competition.loopermanLink }}" target="_blank" class="btn btn-link">
                            Оригинальный пост
                        </a>
                    </li>

                    <audio controls hidden class="audio">
                        <source src="{{ competition.link }}">
                    </audio>
                </ul>
            </div>
        {% endfor %}
    {% endif %}

{% endblock body %}

{% block title %}Список соревнований{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_competition') }}
{% endblock %}
