<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        {% for key,value in base_routes %}
            <li class="nav-item">
                <a class="nav-link" href="{{ value.path }}">{{ value.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="navbar-nav">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% for key, value in auth %}
                <li class="nav-item">
                    {% if key == 'detail' %}
                        <a class="nav-link"
                           href="{{ value.path }}">{{ value.label }}</a>

                    {% else %}
                        <a class="nav-link" href="{{ value.path }}">{{ value.label }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            {% for key, value in not_auth %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ value.path }}">{{ value.label }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>